<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="cache_folder" value=".\cache\" />
    <add key="compilers_config_folder" value=".\compilers\" />
    <add key="problems_cache_size" value="1" />
    <add key="result_sending_cache_size" value="2049" />

    <add key="workarea" value=".\workarea\" />
    <add key="base_address" value="http://localhost:8839" />
    <add key="api_path" value="/api" />
    <add key="api_token" value="8839" />

    <add key="latest_update_url" value="http://localhost:8839/api/test_libs/latest.json" />
  </appSettings>
</configuration>